
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    @Html.Partial("~/Views/Partials/NavBar.cshtml")

    <div class="header">
        <h1 style="font-size:4vw;">HR</h1>
        <p style="font-size:3vw;">Morillo</p>
    </div>

    <div class="container-fluid">
            <div class="card-deck">
                <div class="card">
                    <img src="https://www.iconpacks.net/icons/1/free-user-group-icon-307-thumb.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5  class="card-title">Lorem Ipsum</h5>
                        <p  class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a metus sit amet ipsum blandit efficitur. Fusce quis lorem quam.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://freepikpsd.com/wp-content/uploads/2019/10/person-vector-png-1-Transparent-Images.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5  class="card-title">Lorem Ipsum</h5>
                        <p  class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a metus sit amet ipsum blandit efficitur. Fusce quis lorem quam.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://www.margaretdabbs.co.uk/wp-content/uploads/2018/11/head-vector-female-2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5  class="card-title">Lorem Ipsum</h5>
                        <p  class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a metus sit amet ipsum blandit efficitur. Fusce quis lorem quam.</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="middleContent">
        <h1>Lorem Ipsum</h1>
        <p>Morbi sed neque neque. Aenean vel fringilla lorem. Aliquam enim nulla, tincidunt vel cursus eu, luctus id lectus. Duis congue augue nec nibh varius, vel pellentesque urna consequat. Suspendisse arcu nibh, dignissim id mattis eu, venenatis id eros. Cras molestie sit amet felis nec suscipit. Sed ligula sem, vehicula et lectus at, aliquam consequat mauris. Phasellus sed arcu tristique, luctus augue nec, vestibulum lectus. Morbi tempus, purus non aliquam cursus, nibh dolor faucibus metus, non rhoncus risus lectus eu lacus. Sed elementum eros a mi convallis, eu fermentum nibh vulputate. Donec ut elementum justo. Fusce et rhoncus velit. Nam tempus quis tortor et fermentum. Maecenas pretium nunc quis ipsum cursus egestas. Proin scelerisque bibendum vehicula.</p>
    </div>
</body>
</html>
